{
    "000000": {
        "language_name": "localized_game_name"
    },
    "730": {
        "schinese": "Counter-Strike 2",
        "japanese": "Counter-Strike 2"
    },
    "1687950": {
        "schinese": "女神异闻录5皇家版",
        "japanese": "ペルソナ５ ザ・ロイヤル"
    },
    "1623730": {
        "schinese": "Palworld / 幻兽帕鲁",
        "japanese": "Palworld / パルワールド"
    },
    "combined_mode": true,
    "proxies": null
}